<div id="sidebar-wrapper">
	    <ul class="sidebar-nav">
	        <li>
	            <a href="/frontpage">
	                <i class="fa fa-home"></i>
	                <div>ETUSIVU</div>
	            </a>
	        </li>
	        <li>
	            <a href="/messaging">
	                <i class="fa fa-envelope-o"></i>
	                <div>VIESTIT</div>
	            </a>
	        </li>
	        <li class="hidden">
	            <a href="/events">
	                <i class="fa fa-calendar"></i>
	                <div>TAPAHTUMAT</div>
	            </a>
	        </li>
	        <li class="hidden">
	            <a href="/timetable">
	                <i class="fa fa-list-alt"></i>
	                <div>LUKUJÄRJESTYS</div>
	            </a>
	        </li>
	        <li class="hidden">
	            <a href="/groups">
	                <i class="fa fa-users"></i>
	                <div>RYHMÄT</div>
	            </a>
	        </li>
	        <li class="hidden">
	            <a href="/help">
	                <i class="fa fa-info-circle"></i>
	                <div>APUA</div>
	            </a>
	        </li class="hidden">
	        <li class="visible-xs visible-xs visible-sm visible-md">
	            <hr>
	        </li>
	        <li class="visible-xs visible-xs visible-sm visible-md">
	            <br>
	            <i class="fa fa-cog"></i>
	            <a href="/account">OMAT TIEDOT</a>
	        </li>
	        <li class="visible-xs visible-xs visible-sm visible-md">
	            <i class="fa fa-key"></i>
	            <a href="/client/">KIRJAUDU ULOS</a>
	        </li>
	    </ul>
	</div>
