<div class="full color1 topslide">
    <div class="logo">
        <img src="img/qlma.png" height="55px">
    </div>
    <div class="date visible-lg">Tänään on torstai {{ date }}
    </div>
    <div class="name text-right">
        <a href="#menu-toggle" class="visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
        <span class="visible-lg">
            {{user.firstname}} {{user.lastname}}
            <i class="fa fa-cog fa-inverse"></i> <a href="/profile">Omat tiedot</a> &nbsp;  | &nbsp;
            <i class="fa fa-key"></i>  <a href="#" ng-click="frontpage.doLogout()" class="click">Kirjaudu ulos</a> &nbsp;&nbsp;
        </span>
    </div>
</div>
