<ng-include src="'../../views/_topstatus.html'"></ng-include>
<div id="wrapper">
	<ng-include src="'../../views/_navigation.html'"></ng-include>

	<div id="page-content-wrapper">
		<div id="overlay"></div>
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-lg-12">
	                <h1><i class="fa fa-home"></i> Etusivu</h1>
	                <p>Tämä on mallikoulun etusivu joka näkyy kirjautumisen jälkeen.</p>
	                <br><br>
	                <div class="panel panel-default">
	                    <!-- Default panel contents -->
	                    <div class="panel-heading">Uusimmat viestit</div>
	                    <!-- Table -->
	                    <table  class="table table-striped qlma-table-hover hidden-xs">
	                        <tr>
		                        <th> PVM </th> 
		                        <th> AIHE </th> 
		                        <th> LÄHETTÄJÄ </th>
		                        <th> KUITTAUS </th>
		                        <th> LIITE FAV </th> 
	                        </tr>
	                        <tr ng-repeat="message in messages">
	                        	<td> {{ message.create_time }} </td>
	                        	<td> {{ message.message }} </td>
	                        	<td> {{ message.from_user_id }} </td>
	                        	<td> </td>
	                        	<td> </td>
	                        </tr>
	                        
	                    </table>
	                    
	                    <!-- List for small screens -->
	                    <a ng-repeat="message in messages" href="#" class="message-row visible-xs">
							<div>29.07.2015</div>
							<div> <span class="message-caption">Luokanvalvojantunnit peruttu</span> <span class="message-right">ALERT</span> </div>
							<div> <span>Liisa Mallinen</span> <span class="message-right">-</span> </div>
	                    </a>
	                                                      
	                    
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>